body {
  /* background-color: #282c34; */
  /* background-color: #eadcbd; */
}

.App {
  text-align: center;
  /* background-color: #282c34; */
  /* background-color: #eadcbd; */
}

.top-section h1 {
  font-family: 'Notable'
}

.top-section p {
  margin: 6px 0;
  /* margin-top: 4; */
  /* margin-bottom: 4; */
  font-size: 20px;
}

.Toolbar .btn,
.Toolbar select {
  margin-right: 8px;
  height: 36px;
}

select {
  border-radius: 2px;
}

.bottom-section {
  display: flex;
  justify-content: space-around;
}

.bottom-section .bottom-section-text {
  font-size: 12px;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  /* height: 40vmin; */
  height: 100px;
  pointer-events: none;
  margin-right: 10px;
}

.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.konvajs-content {
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
